.venv
__pycache__
*.pyc
*.log
uploads
database
database/vector_db
# virtual envs
.venv/
venv/
env/
# editor
.vscode/
.idea/
# tests caches
.pytest_cache/
__pycache__/
*.faiss
*.json
.env
*.ipynb
tests/__pycache__
dist
build
*.egg-info
.DS_Store
